<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <style>
        body { font-family: Arial, sans-serif; }
        form { margin: 20px 0; }
        input { margin-bottom: 10px; }
    </style>
</head>
<body>
<h1>Edit User</h1>
<form action="#" th:action="@{/users/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="*{name}" required>

    <label for="name">Name:</label>
    <input type="text" id="lastname" name="name" th:value="*{lastName}" required>

    <label for="name">Name:</label>
    <input type="text" id="email" name="name" th:value="*{email}" required>
    <br>
    <input type="submit" value="Update User">
</form>
<a href="/users">Back to User List</a>
</body>
</html>